body {
    background-color:  lightgoldenrodyellow;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: white;
}

#content-container {
    text-align: center;
    padding-top: 10px;
    margin-left: 375px;
    margin-top: 10px;
    background-color: red;
    border-radius: 50px;
    width: 500px;
    height: 175px;    
}

#results-area {
    color: black;
}